<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- security -->
    <bean id="testFilter" class="demo.InterceptorimplbyExtendedHandlerInterceptorAdapter.TestFilter"/>

    <bean id="testFilterRegistration" class="org.springframework.boot.web.servlet.FilterRegistrationBean">
        <property name="filter" ref="testFilter"/>
        <property name="order" value="1"/>
        <property name="urlPatterns">
            <util:list>
                <value>/*</value>
            </util:list>
        </property>
    </bean>

    <mvc:interceptors>
        <bean class="demo.InterceptorimplbyExtendedHandlerInterceptorAdapter.TestInterceptor"/>
    </mvc:interceptors>

</beans>